{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@screen": "./src/screens",
                    "@navigation": "./src/navigation",
                    "@modules" : "./src/modules",
                    "@constant" : "./src/constant",
                    "@components" : "./src/components",
                    "@utils" : "./src/utils"
                }
            }
        ]
    ]
}